.AnimalContainer {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.AnimalContainer__imageArea{
  width:100%;
  height:65%;
}
.AnimalContainer__imageAreaLoading{
    margin:0 auto;
    width:150px;
    height: 150px;
    margin-top: 50px;
    border: 20px solid black;
    border-top-color: #1a6aed;
    border-bottom-color: #f49b42;
    border-radius: 50%;
    animation-name: picloading;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.AnimalContainer__imageArea__randompetimage{
  display:block;
  margin:auto;
  margin-top: 1%;
  max-width:100%;
  max-height: 100%;
}
.AnimalContainer__imageArea__randompetimageHidden{
  visibility: hidden;
}
.AnimalContainer__controls{
  display: flex;
  flex-direction: column;
}
.AnimalContainer__controls__top{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  height: 35%;
}
.AnimalContainer__controls__petinfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
}
.AnimalContainer__controls__skip{
  cursor: pointer;
  width:6rem;
  font-size: 2rem;
  background: #1a6aed;
  border-radius: .5rem;
  padding: .5rem;
  color:white;
}

.AnimalContainer__controls__inputarea__slider{
  width:100%;
  height:3rem;
  background: #4CAF50;
  cursor: pointer;
}

.AnimalContainer__vote{
  width:90%;
  height:3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
  cursor: pointer;
  font-size: 1.2rem;
  background: #f49b42;
  border-radius: .25rem;
}
@media (max-width: 600px) {
    .AnimalContainer {
        margin-top: 150px;
    }
    .AnimalContainer__controls__top{
      flex-wrap: nowrap;
    }
    .AnimalContainer__controls__petinfo{

      font-size: .75rem;
    }
    .AnimalContainer__controls__skip{
      width:3rem;
      font-size: 1rem;
    }
    .AnimalContainer__controls__inputarea__slider{
      width:75%;
      height:1rem;
      background: #4CAF50;
      cursor: pointer;
    }

}

@keyframes picloading {
  0%{
    transform: rotate(0deg) scale(1);
  }
  50%{
    transform: rotate(360deg) scale(1.05);
  }
  100%{
    transform: rotate(720deg) scale(1);
  }
}
