.Modal {
    background: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    bottom: 60%;
    outline: none;
    width: 400px;
    height: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 999;
}

.Overlay {
    z-index: 3;
}

.Modal_Row {
    display: flex;
}

.modalClose {
    position: relative;
    top: -15px;
    right: -10px;
    cursor: pointer;
}

.modalClose:hover {
    color: #4286f4;
}

.modalButton__delete {
    background: #dd7373;
    width: 40%;
    margin-top: 17px;
    height: 30px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
}


.fa-times {
    cursor: pointer;
}

@media(max-width: 480px) {
    .Modal {
        width: 80%;
    }
}