.navbar {
  padding-top: 12px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
}

.navbar__img {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  cursor: pointer;
}

.navbar__links {
  flex: 0 1 auto;
  margin-left: auto;
}

.navbar__items {
  display: flex;
  margin-right: 80px;
}

.navbar__item {
  color:white;
  cursor: pointer;
  margin-right: 20px;

}

.navbar__hamburger {
  position: relative;
  height: 30px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 36px;
  display: none;
  right: 45px;
}

.navbar__dropdown {
  position: relative;
  margin-top: 5px;
  margin-left: 20px;
}

.navbar__dropdown__content {
  display: none;
  position: absolute;
}

.navbar__dropdown__content__onClick {
  display: block;
  width: 170px;
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  right: 35px;
  margin-top: 25px;
}

.navbar__dropdown__content__item {
  width: 100%;
  padding: 15px 0px 10px 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.navbar__dropdown__content__item:hover {
  background: #e8f0ff;
}

@media (max-width:950px) {
  .navbar__items {
    margin-right: 40px;
  }
}

@media (max-width: 900px) {
  .navbar__items {
    display: none;
  }
  .navbar__hamburger {
    display: block;

  }
}

@media (max-width: 550px) {
  .navbar__img {
    left: 5%;
    transform: translateX(0%);
    width: 75%;
  }

  .navbar__img__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media (max-width: 600px) {
  .navbar__hamburger {
    position: relative;
    right: 25px;
  }
}

@media (max-width: 380px) {
  .navbar__hamburger {
    right: 10px
  }
}




