.navbar {
  height: 50px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-top: 7px;
}

.navbar__img {
  width: 250px;
  grid-column-start: 3;
  margin-left: auto;
  margin-right: auto;
}

.navbar__dropdown {
  grid-column-start: 5;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar__dropdown__content {
  display: none;
  position: absolute;
}

.navbar__dropdown__content__onClick {
  display: block;
  width: 170px;
  height: 200px;
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  right: 150px;
  margin-top: 10px;
}




.navbar__button {
  width: 70px;
  height: 30px;
  background: transparent;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}



.navbar__button:hover {
  background: white;
  transition: 0.2s;
  color: grey;
}

@media (max-width: 800px) {
  .navbar__img {
    grid-column-start: 2;
  }
  .navbar__button {
    grid-column-start: 4;
    margin-left: 100px;
  }
}

@media (max-width: 600px) {
  .navbar {
    display: block;
  }
  .navbar__img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
  }
  .navbar__button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
  }

}