.navbar {
  height: 50px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-top: 7px;
}

.navbar__img {
  width: 250px;
  grid-column-start: 3;
  margin-left: auto;
  margin-right: auto;
}

.navbar__button {
  grid-column-start: 5;
  width: 70px;
  height: 30px;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
  background: transparent;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.navbar__button:hover {
  background: white;
  transition: 0.2s;
  color: grey;
}
