.ProfilePets{
    margin-left: 30px;
    margin-bottom: 25px;
    box-shadow: 0 10px 20px 3px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    transition: .3s;
    padding-bottom: 10px;
    height: 290px;
    position: relative
}

.ProfilePets__hover {
    padding-bottom: 20px;
    transition: .3s;
}

.ProfilePets__imgholder{
    width: 14rem;
    height: 13.5rem;
}

.ProfilePets__img {
    display:block;
    margin:auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.ProfilePets__info{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 1rem;
    z-index: -1;
}

.ProfilePets__delete {
    top: -55px;
    left: 180px;
    position: relative;
    border: none;
    font-size: 16px; 
    cursor: pointer;
}

.ProfilePets__bottomRow {
    display: flex;
}

.ProfilePets__delete__show {
    opacity: 1;
    transition: .3s;
}

@media (max-width: 635px) {
    .ProfilePets {
        width: 90%;
        height: 210px;
        display: flex;
        margin-left: 0px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .ProfilePets__info {
        margin-top: 10px;
    }

    .ProfilePets__delete {
        background: transparent;
    }
    .ProfilePets__img {
        width: 150px;
        height: 150px;
    }
    .ProfilePets {
        height: 170px;
    }
    
    .ProfilePets__delete {
        top: 0px;
        left: 0px;
        margin-top: 10px;
    }

}

@media (max-width: 390px) {
    .ProfilePets {
        width: 320px;
    }
}


