.Profile {
    background: #fff;
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profile__form {
    margin-top: 40px;
}

@media (max-width: 600px) {
    .Profile {
        margin-top: 150px;
    }
}