.signup {
  background: #fff;
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.signup a {
}

.signup__user {
  width: 60%;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
}

.signup__nonuser {
  width: 40%;
  background: #f2f2f2;
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  line-height: 1.5;
}

.signup__nonuser__link {
  text-decoration: underline;
  color: #002868;
  cursor: pointer;
}

.signup__button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}

.signup__button__twitter {
  background: #00aced;
  margin-top: 10px;
  color: #fff;
}

.signup__button__google {
  margin-top: 30px;
  background: #4285F4;
  display: flex;
  font-size: 14px;
  color: #fff;
}

.signup__button__google__left {
  background: #fff;
  height: 46px;
  width: 50px;
  margin-left: 2px;

}
.googleLogo{
  height: 25px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%)
}

.signup__button__google__text {
  margin-top: 13px;
  margin-left: 6px;

}


.fa-twitter,.fa-google {
  display: inline-block;
  margin-right: 10px;
}


@media (max-width: 700px) {

}

@media (max-width: 600px) {

  .signup {
    margin-top: 150px;
    flex-direction: column;
    width: 90%;
  }

  .signup__user {
    width: 100%;
    height: 90%;
  }
  .signup__nonuser{
    width: 100%;
    height: 40%;
  }
}
